.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .app-header .img-logo {
    height: 40px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .main-content {
    padding: 16px;
  }
  